html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.main_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5px;
    background-color: rgb(136, 156, 168);
}

.top_section {
    display: flex;
    color: rgb(239, 243, 245);
    justify-content: center;
    align-items: center;
    font-size: large;
    grid-column: span 2;
    padding: 20px;
    font-size: 40px;
    margin-bottom: 20px
}

h3{margin-top: 10px;
margin-bottom: px}

.main_row_section {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    width: 100%; 
    margin: 0 auto; 
    padding: 30px; 
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.section_1, .section_2, .section_3, .section_4 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(29, 43, 56);
    color: rgb(239, 243, 245);
    font-size: small;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}

footer {
    color: rgb(239, 243, 245);
    background-color: rgb(29, 43, 56);
    text-align: center;
    padding: 10px;
}

@media (min-width: 768px) {
    .main_section {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto;
    }
    h3 {
        margin: auto;
    }

    .main_row_section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:  1fr;
        width: 90%;
        padding-top: 5px;
    }

    .top_section {
        font-size: 40px;
        padding: 10px;
        margin-bottom: 5px;
        height: auto;
    }

    .section_1, .section_2, .section_3, .section_4 {
        flex-direction: column; 
        align-items: center; 
        text-align: left;
        height: 95%;
    }

    img {
        margin-bottom: 0; 
        margin-right: 15px;
    }

    .section_1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .section_2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .section_3 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .section_4 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
