html, body{
    margin: 0;
    padding: 0;
    border: 0;
}

footer {
    text-align: center;
    color: rgb(239, 243, 245);
    background-color: rgb(29, 43, 56);
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.recipe-picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 0px 6px black;
    margin-bottom: 10px;
    text-align: center;
}

img{
    width: 100%;
    
}

.recipe-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 0px 6px black;
    margin-bottom: 10px;
    text-align: center;
}

li{
    text-align: left;
}


@media screen and (min-width: 915px) {
    main{
        display: flex;
        flex-direction: row;
    }

.recipe-picture{
    width: 60%;
}

    .recipe-text{
        width: 40%;
        
    }
    
    .recipe-text p{
        margin-top: 10px;
        margin-bottom: -20px;
    }
    }