html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

#name, #email, #subject {
    width: 100%; 
    height: 40px; 
    margin-bottom: 10px; 
    border: 2px solid black;
    border-radius: 5px;
}

#subject{
    padding-bottom: 100px;

}

.form {
    display: grid;
    grid-column: span(2);
    grid-row: span(2);
    background-color: white;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 0px 6px black;
    margin-bottom: 10px;
}

.form-box{
    display: block;
    padding: 20px 30px 30px 20px;
}

.form input:focus {
    border-color: black;
    outline: none;
    -webkit-box-shadow: inset 0 0px 3px rgb(29,43,56), 0 0 15px rgb(29,43,56);
    box-shadow: inset 0 0px 3px rgb(29,43,56), 0 0 3px rgb(29,43,56);
}

.color-transition {
    background-image: linear-gradient(90deg, rgb(136,156,168) 0%, rgb(29,43,56) 30%);
    border: none;
    width: 100%;
    padding: 10px;
    height: 40px;
    background-size: 200% 100%;
    background-position: 0 0; 
    transition: background-position 0.5s;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
}

.color-transition:hover {
    background-position: 100% 0; 
}

.formtitle{
    text-align: center;
}

.form-box h2{
    text-align: center;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(29, 43, 56);
    color: rgb(239, 243, 245);
    border-radius: 8px;
}

.welcome-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(136, 156, 168);
    border-radius: 8px;
}

img{
    width: 100%;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}


.welcome p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
}

.welcome-image:hover{
    transform-origin:top bottom;
    animation: scale 1000ms ease-in-out forwards;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}



@media screen and (min-width: 915px) {
    main{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
    }

    .welcome{
        flex: 1;
        max-width: 50%;
        margin: 20px;
        padding: 40px;
    }

    .welcome-image{
        flex: 1;
        max-width: 50%;
        margin: 20px;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome-image img{
        max-width: 100%;
        height: auto;
    }
    
    .welcome p{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form-box{
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
    }

    .formtitle{
        text-align: center;
    }

    .form-box h2{
        text-align: center;
    }
}