.logo{
    width: 100px;
    height: 100px;
    background-image:url("../Photos/Logo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(136,156,168);
    padding-right:15px;
    border-bottom: solid rgb(29,43,56);
    flex-wrap: wrap;
    position: relative;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.nav-toggle {
    text-decoration: none;
    text-indent: -300px;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 55px;
    float: right;
}

.nav-toggle:before {
    color: white; 
    font: normal 28px/55px "responsivenav"; 
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261"; 
    text-indent: 0;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-toggle.active:before {
    font-size: 24px;
    content: "\78"; 
}

.nav-collapse ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px
}

.nav-collapse li {
    display: block;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.nav-collapse a {
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
    font-weight: bold;
}

a:hover{
    text-decoration: underline
}

.head-right{
    display: flex;
    flex-direction: column;
    font-family: "Goblin One", 'Times New Roman';
    flex: 1;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

h1{
    font-family: "goblin one";
    font-weight: bold
}

h2{
    font-family: "goblin one";
    font-weight: bold
}

h3{
    font-family: "goblin one"
}

h4{
    font-family: "goblin one"
}

p{
    font-family: "hepta slab";
    font-size: 18pt
}

li{
    font-family: "hepta slab";
    font-size: 12pt
}

@font-face {
    font-family: "responsivenav";
    src: url("../icons/responsivenav.eot");
    src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
        url("../icons/responsivenav.ttf") format("truetype"),
        url("../icons/responsivenav.woff") format("woff"),
        url("../icons/responsivenav.svg#responsivenav") format("svg");
    font-weight: normal;
    font-style: normal;
}

main{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    main{
        display: flex;
        flex-direction: row;
    }

    .navbar {
        flex-wrap: nowrap;
    }

    .head-right {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav-collapse ul {
        flex-direction: row;
        justify-content: center;
        margin-right: 50px;
    }
    
    .nav-collapse a {
        text-align: center;
        border-top: 0;
        margin-right: 10px;
        font-weight: bold;
        padding: 1.02em 2em;
    }
    
    .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }

    #auth-container {
        margin-left: auto;
        margin-right: 0;
        order: 2;
    }
}

/* Mobile-specific header adjustments */
@media screen and (max-width: 699px) {
    .head-right {
        width: 100%;
    }

    .nav-collapse {
        width: 100%;
    }

    #auth-container {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0 10px;
    }
}