html { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    margin-top:40px
}
.main_section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 50px repeat(2,1fr);
    gap:5px;
    background-color:rgb(136,156,168);
}
.top_section{
    display:flex;
    color:rgb(239,243,245);
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    grid-row: 1/2;
    grid-column: 1/4;
    padding:50px;
}
.section_1{
    display:flex;
    margin:50px;
    padding:25px;
    border-radius: 15px;
    grid-row:2/4;
    grid-column:1/4;
    background-color:rgb(29,43,56);
    height: 300px;
    color:rgb(239,243,245);
    text-align: center;
    font-size:x-large;
}

footer{
    display: grid;
    grid-row:4/5;
    grid-column:1/5;
    color: rgb(239,243,245);
    background-color:rgb(29,43,56);
    height:50px;
    padding:10px;
    align-items: center;
    justify-items: center;
}

.pictures {
    display: flex; 
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}

.column {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

#first {
    background-image:url("../Photos/Apple-Crisp-197.jpg");
    border-radius: 5px;
}

#second {
    background-image: url("../Photos/burger.jpg");
    border-radius: 5px;
}

#third {
    background-image: url("../Photos/Steak_Hasselback.png");
    border-radius: 5px;
}


.column:hover{
    transform-origin:top bottom;
    animation: scale 1000ms ease-in-out forwards;
}

@keyframes scale {
    to {
    transform: scale(1.04);
    }
}

#name, #email{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.mailing {
    display: grid;
    grid-area: form;
    background-color: white;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.mailing input:focus {
    border-color: black;
    outline: none;
    -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 15px #D83F31;
box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 3px #D83F31;
}

.color-transition {
    background-image: linear-gradient(90deg, rgb(136, 156, 168) 0%, rgb(29,43,56) 30%);
    border: none;
    width: 100%;
    padding: 10px;
    height: 40px;
    background-size: 200% 100%;
    background-position: 0 0; 
    transition: background-position 0.7s;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke
}

.color-transition:hover {
    background-position: 100% 0; 
}

.mission{
    display:flex;
    margin:0px;
    padding: 25px;
    border-radius: 15px; 
    background-color:rgb(29,43,56);
    color:rgb(239,243,245);
    text-align: center;
    font-size:x-large;
}

.para {
    text-align: center;
    font-size: large;
}

.mailing h2{
    text-align: center
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    text-align: center;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.welcome p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
}

.button1 { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    width: 140px;
    height: 40px; 
    border-radius: 5px;
    background: rgb(136, 156, 168);
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin: auto;
    font-weight: bold;
    margin-top: 10px
}

#learn_button{
    text-decoration: none;
}

.button1:hover{
    background-color: rgb(29,43,56);
    color: white;
    transition: all 350ms;
}

.welcome h2{
    text-align: center
}

@media screen and (min-width: 915px) {

    /*picture info*/
    
    .pictures {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 90px;
        margin-right: 90px;
    }
    
    .column{
        height: 0;
        background-size: cover;
        padding-top: 30%;
        margin: 10px;
    }
    


    .mailing{
        width: 60%;
    }

    .welcome{
        width: 40%;
        margin: auto;
        margin-top: 20px; 
        margin-bottom: 10px; 
        margin-left: 20px;
        padding: 60px;
        
    }
    
    .welcome p{
        margin-top: 10px;
        margin-bottom: -20px;
    }
    
    .mailing h2{
        text-align: center;
    }
    .button1{
        margin-top: 35px;
    }

    main{
        display:flex;
        flex-direction: row;

    }

    .color-transition {
        background-image: linear-gradient(90deg, rgb(136, 156, 168) 0%, rgb(29,43,56) 30%);
        border: none;
        width: 100%;
        padding: 10px;
        height: 40px;
        background-size: 200% 100%;
        background-position: 0 0; 
        transition: background-position 0.7s;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        color: whitesmoke;
    }

    #name{
        margin-bottom: 20px;
    }

    #email{
        margin-bottom: 20px;
    }
}
}