* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
   
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    background-color: rgb(136, 156, 168);
    flex: 1;
    min-height: calc(100vh - 200px);
}

.top_section {
    text-align: center;
    color: rgb(239, 243, 245);
    font-size: 40px;
    margin-bottom: 20px;

}

.section {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    width: 100%; 
    margin: 0 auto; 
    background-color: rgb(29, 43, 56); 
    padding: 20px; 
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}



.recipe_img {
    width: 100%; 
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.recipe_img:hover {
    transform: scale(1.02);
}

footer {
    text-align: center;
    color: rgb(239, 243, 245);
    background-color: rgb(29, 43, 56);
    padding: 10px;
}


@media (min-width: 1000px) {
    .main_section {
        justify-content: flex-start; 
    }

    .section {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        max-width: none; 
    }

    .recipe_img {
        width: 100%;
        height: 1000px;
        object-fit: cover;
    }
}
