html, body{
    margin: 0;
    padding: 0;
    border: 0;
}

footer {
    text-align: center;
    color: rgb(239, 243, 245);
    background-color: rgb(29, 43, 56);
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.recipe-picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 0px 6px black;
    margin-bottom: 10px;
    text-align: center;
}

img{
    width: 100%;
    height: 100%
}

.recipe-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 0px 6px black;
    margin-bottom: 10px;
    text-align: center;
}

li{
    text-align: left;
}


@media screen and (min-width: 915px) {
    main{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
        gap: 0;
    }

    .recipe-picture {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }

    .recipe-text {
        grid-column: 2;
        grid-row: 1;
        width: 100%;
    }
    
    .recipe-text p{
        margin-top: 10px;
        margin-bottom: -20px;
    }

    /* Comments below both, full width */
    #comments-container {
        grid-column: 1 / -1;
        grid-row: 2;
        width: 100%;
        margin-top: 20px;
    }
    }